* {
    font-family: Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

html
{
    height: 100%;
    width: 100%;
}

body
{
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.gh-ribbon 
{
	font-family: Helvetica, Arial, sans-serif;
	width: 600px;
	text-align: center;
	font-weight: bold;
	font-size: 0.8em;
	padding: 10px;
	text-decoration: none;
	position: fixed;
	text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	z-index: 1000;
}

.gh-ribbon:after 
{
	content: "";
	position: relative;
	display: block;
	top: 8px;
	left: 0;
	width: 600px;
	border: 1px dashed rgba(255, 255, 255, 0.4);
}

.gh-ribbon:before 
{
	content: "";
	position: relative;
	display: block;
	bottom: 8px;
	left: 0;
	width: 600px;
	border: 1px dashed rgba(255, 255, 255, 0.4);
}

.gh-ribbon.white:after 
{
	content: "";
	position: relative;
	display: block;
	top: 8px;
	left: 0;
	width: 600px;
	border: 1px dashed rgba(0, 0, 0, 0.4);
}

.gh-ribbon.white:before 
{
	content: "";
	position: relative;
	display: block;
	bottom: 8px;
	left: 0;
	width: 600px;
	border: 1px dashed rgba(0, 0, 0, 0.4);
}

.gh-ribbon.left 
{
	top: 15px;
	left: -285px;

	transform: rotate(-45deg) translateY(100%);
}

.gh-ribbon.blue 
{
	background-color: blue;
	color: white;
}

#container
{
    display: flex;
    flex-flow: column;
    height: 100%;
    margin-top: 100px;
}

select
{
    border-radius: 5px;
    padding: 5px 10px;
    border: solid 2px #606060;
}

#calendar_form
{
    width: 100%;

    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: center;

    gap: 25px;
}

#calendar_form > div
{
    display: flex;
    flex-flow: row;
    align-items: center;
}

#year_display,
#month_display
{
    width: 75px;
    max-width: 75px;
    text-align: center;
    vertical-align: middle;
}

#calendar_form button
{
    margin: 0px 10px;
    padding: 10px;
    background-color: #cccccc;
    border-radius: 5px;
    border: 1px solid #606060;
}

#day_event,
#day_info
{
    text-align: center;
    padding: 20px 0;
    line-height: 25px;
}


/************************************************ Set custom style for calendar ***********************************************/

#IR_PersianCalendar
{
    width: 700px;

    display: flex;
    flex-flow: column;
    align-items: end;

    padding: 10px;
    margin-top: 15px;

    background-color: #f5f5f5;
    border-radius: 5px;
}

#irp_day_names
{
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
}

#irp_days
{
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    flex-wrap: wrap;
}

#irp_day_names .irp-day-name,
#irp_days .irp-day
{
    flex: 1 0 calc(calc(100% / 7) - 10px);
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

#IR_PersianCalendar .irp-day.disable
{
    opacity: 0.5;
}

#IR_PersianCalendar .irp-day.selected
{
    background-color: rgba(117, 206, 72, 0.49);
    color: white;
}

#IR_PersianCalendar .irp-day.today
{
    background-color: rgba(76, 79, 255, 0.53);
    color: white;
}

#IR_PersianCalendar .irp-day.holiday,
#IR_PersianCalendar .irp-day.friday
{
    background-color: rgba(255, 52, 52, 0.55);
    color: white;
}